<fieldset>
  <div class="form_row" style="text-align: center;">
    <b>This job is awarded to the applicant given below:</b><br />
    <b>Applicant Email:</b>&nbsp; <%= @applicant.email %><br />
    <b>Comment:</b>&nbsp; <%= @applicant.comment %><br />
    <b>Linkedin Url:</b>&nbsp; <%= @applicant.url %><br />
    <b>A Mail For Confirmation Has Been Sent To Applicant's Email Id & Jobowner's Email Id.</b>
  </div>
</fieldset>