<h1>New application</h1>

<% form_for @application, :url => job_applications_url(@job), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>Apply For The Job</legend>
  <%= render :partial => "form", :object => f %>
  <div class="form_row" style="text-align: center;">
    <%= f.submit 'Apply' %>
  </div>
  </fieldset>
<% end %>

<%= link_to 'Back', jobs_path %>