<fieldset>
  <div class="form_row" style="text-align: center;">
    <b>Thank You For For Applying For This Job.</b><br />
    <b>A Mail For Confirmation Has Been Sent To Your Email Id.</b>
  </div>
</fieldset>