<fieldset>
  <div class="form_row" style="text-align: center;">
    <b>This job is awarded to the applicant given below:</b><br />
    <b>Applicant Email:</b>&nbsp; <%= @application.email %><br />
    <b>Comment:</b>&nbsp; <%= @application.comment %><br />
    <b>Linkedin Url:</b>&nbsp; <%= @application.url %><br />
    <b>A Mail For Confirmation Has Been Sent To Applicant's Email Id.</b>
  </div>
</fieldset>