<p>Dear Applicant,
<br /><br />
Thank you for Applying For The job on job board System.
</p><br />


<b>Applicant Details Goes Below:</b> <br />
<b>Applicant's Email Address:</b> &nbsp;<%= @applicant.email %><br />
<b>Comment:</b> &nbsp;<%= @applicant.comment %><br />
<b>Linkedin URL:</b> &nbsp;<%= @applicant.url %><br />
