<p>Dear Applicant,
<br /><br />
<b>Better luck next time!<br />
The job post for which you have applied has been closed and awarded.</b>
</p><br />

Thank you for using Job-Board System and if you have any comments or just want to send a note, email us. We like to hear from you.
<br /><br />
Regards,<br />
Job-Board Team<br />
www.job-board.heroku.com<br />

